html {
  background-color: whitesmoke;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.quiz {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  box-shadow: 0px 0px 12px #18191b;
  border-radius: 8px;
}
.quiz h1 {
  font-size: 2rem;
}
.question h1 {
  font-size: 1.5rem;
}
.answerBtn {
  margin: 1rem;
  width: -webkit-fill-available;
  font-size: 1.5rem;
}
.buttons {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
}
.btn-right {
  display: flex;

  flex-direction: row;
  justify-content: center;
}
.btn-left {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
